
/*

Author: Bootstrapthemes
Author URI: http://bootstrapthemes.co

*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
    background-color: #ffffff;
    font-size: 15px;
   /* color: #565656;*/
   color:#333333;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
}
/*==========================================
PRE LOADER 
==========================================*/
.preloader{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fefefe;
    z-index:99999;
    height:100%;
    width:100%;
    overflow:hidden !important;
}
.loaded{
    /*width:500px;
    height:100px;
    position:relative;
    left:35%;
    top:40%;
    background-image:url(../img/logoload.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size
    -moz-background-size:cover;*/
    
    /*width:400px;
    height:70px;
    position:absolute;
    left:35%;
    top:40%;
    background-image:url(../img/logoload.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size
    -moz-background-size:cover;
    background-size:cover;
    margin:-20px 0 0 -20px;*/
    
    width:60px;
    height:60px;
    position:absolute;
    left:50%;
    top:50%;
    background-image:url(../img/loading.gif);
    background-repeat:no-repeat;
    background-position:center;
    background-size
    -moz-background-size:cover;
    background-size:cover;
    margin:-20px 0 0 -20px;
   
}
ul{margin:0;padding:0;list-style:none;}
img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}


.navbar-fixed-top{
    position:absolute;
    /*margin-top:40px;*/
    margin-top:0px;
    background-color: #ffffff;
    
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.btn.extra-width {
    padding: 13px 40px;
}
.btn:focus,
.btn:active {
    outline: inherit;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}
p {
    margin: 0 0 15px;
}
.clear {
    clear: both;
}
ol,
ul {
    list-style: none;
    padding: 0;
}
img {
    max-width: 100%;
}

.single_team_area >img{
	max-width: 136px;
    border-radius:50%;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}
.form-control {
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 16px;
    height: 45px;
}
.form-control:focus {
    border-color: #6FB048;
}
h1,
h2,
h3 {
    font-family: 'robotolight';
    font-weight: 300;
    margin: 0;
}
h4,
h5 {
    font-family: 'robotolight';
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}
h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
}
h2 {
    font-size: 2rem;
line-height: 4rem;
margin-bottom: .9rem;
font-family: Roboto-Bold;
color:#1d7ec1;
    text-align: center;

}
h3 {
    font-weight: 300;
    margin-bottom: .9rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
}
h4 {
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin-bottom: 1.1rem;
}
h5 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}
p {
    line-height: 1.5rem;
    font-size: 1rem;
}
p:last-child {
    margin-bottom: 0px;
}
/*.home-wrap h1,*/
.home-wrap h2,
.home-wrap h3,
.home-wrap h4,
.home-wrap h5,
.home-wrap p {
    color: #ffffff;
    font-family: 'roboto', sans-serif;
}
.text {
    color: #333333;
}
.colorstext {
    color: #f56363;
}
.coloricon i {
    color: #f56363;
}
.colorsbg {
    background: #f56363;
    color: #ffffff;
}
.colorsbg .separator2 {
    border: 2px solid;
}
.colorsbg .separator_wrap::after,
.colorsbg .separator_wrap::before {
    background-color: #ffffff;
}
.lightbg {
    background-color: #f9f9f9;
}
.transition {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
/*
Section
*/
.sections {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;
}
.sections.footer {
    padding-bottom: 80px;
}
section .subtitle h5 {
    margin-top: 10px;
    font-size: 1.3rem;
    font-family: 'roboto', sans-serif;
}
.parallax-section {
    max-width: 100%;
    color: #ffffff;
}
section .title-half h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    margin-bottom: 1.4rem;
}
section .subtitle-half h5 {
    font-weight: 100;
    font-size: 17px;
}
/*section:nth-of-type(even) {
    background-color: #F9F9F9;
}*/
section:nth-of-type(odd) {
    background-color: #e8e5e5;
}

.buttton{
    padding: 10px;
    margin: 5px;
    border-radius: 55px;
    border: 1px solid #6FB048;
    background: none;
    font-size: 15px;

}
.orangebuton{
    padding: 10px;
    margin: 5px;
    border-radius: 55px;
    border: 1px solid orange;
    background: none;
    font-size: 15px;

}
.fw-special-title-half {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 100;
       margin-bottom: 10px;
}
.heading {
    margin-bottom: 4rem;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    min-height: 750px;
}
.overlay-fluid-block {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}
.home-overlay-fluid {
    background-color: rgba(41, 41, 41, 0.68);
    width: 80%;
    margin: auto;
}
.overlay-img {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #ffffff;
}
.no-padding {
    padding: 0 !important;
}
.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}
.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}
/*
Separator
*/
.separator {
    height: 1px;
    width: 70px;
    margin:10px auto;
    background: #6FB048;
    margin-bottom: 40px;    
}

.separator_no_center {
    height: 1px;
    width: 70px;
    background: #6FB048;
    margin-bottom: 40px;    
}

/*
Button
*/
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary.disabled:hover {
    color: #ffffff;
    background-color: #6FB048;
    border-color: #6FB048;
}
.btn {
    margin-right: 15px;
    border-radius: 25px;
}
.btn {
    border: 0px solid #fff;
    display: inline-block;
    padding: .8em;
    height: 45px;
    text-align: center;
    color: #fff;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    font-size: .9rem;
    font-weight: 300;
    line-height: 26px;
}
/*.btn-default:active, .btn-default:hover  {
    background: transparent;
}*/
.btn-lg,
.btn-group-lg > .btn {
    padding: 10px 30px;
    font-size: 1.8rem;
    border-radius: 30px;
}
.btn-md,
.btn-group-md > .btn {
    padding: 8px 20px;
    font-size: 1.2rem;
    border-radius: 30px;
}

.btn-primary {
    color: #ffffff;
}


.btn-default {
    color: #ffffff;
    border: 2px solid #ffffff;
    background-color: transparent;
    font-family: 'montserratregular';
}
.btn-default:before,
.btn-default:after {
    background-color: #ffffff;
}
btn-default:focus {
    background-color: #ffffff;
    border-color: transparent;
}
.btn-default:hover {
    border-color: #ffffff;
    color: #6FB048;
    background-color: #ffffff;
}
.btn-primary {
    background-color: #83a7a5;
    color: #ffffff;
    border: 0px solid #6FB048;
    font-family: 'montserratregular';
}
.btn-primary:before,
.btn-primary:after {
    background-color: #6FB048;
}
.btn-primary:focus {
    background-color: #6FB048;
    border-color: transparent;
}
.btn-primary:hover {
    border-color: transparent;
    background-color:#333333;
    color: #fff;
}

.btn-md{
    max-height:50px;
    background-color:#6FB048;
    border:0px;
    font-family: 'montserratregular';
}
.btn-md:hover{
    background-color:#69bc37;
    color:#fff;
}
.btn-sm{
    max-width:145px;
    max-height:45px;
    font-family: 'montserratregular';
}
.btn-larg{
    max-width:295px;
    max-height:50px;
    background-color:#6FB048;
    border-radius:5px;
    border:0px solid;
    font-family: 'montserratregular';
}



/*
Extra height css
*/
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-top-80 {
    margin-top: 80px;
}
.margin-bottom-80 {
    margin-bottom: 80px;
}
.padding-top-20 {
    padding-top: 1.33rem;
}
.padding-bottom-20 {
    padding-bottom: 1.33rem;
}
.padding-top-40 {
    padding-top: 2.66rem;
}
.padding-bottom-40 {
    padding-bottom: 2.66rem;
}
.padding-top-60 {
    padding-top: 5rem;
}
.padding-bottom-60 {
    padding-bottom: 5rem;
}
.padding-bottom-0 {
    padding-bottom: 0;
}
/*padding*/
.padding-twenty {
    padding: 10px 0;
}
.padding-fourty {
    padding: 20px 0;
}
.padding-sixty {
    padding: 30px 0;
}
.padding-eighty {
    padding: 40px 0;
}
h1 span {
    color: #f56363;
    font-weight: 400;
}

/*for placeholder changes*/

/*input::-webkit-input-placeholder {
  color: #CACACA;
  font-size: 18px;
}
input::-moz-placeholder {
  color: #CACACA;
  font-size: 18px;
}
input:-ms-input-placeholder {
  color: #CACACA;
  font-size: 18px;
}*/

/*for image bg*/


/*.img-bg{
  background: url(../images/home-msg.jpg) no-repeat center top fixed;
  background-size
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}*/

.icon{
    margin-top:50px;
}

.head_bg{
    background:transparent;
}


h2.title_border{
    position:relative;
}


h2.title_border:before{
    border-bottom:1px solid #6FB048;
    width:70px;
    height:20px;
    position:absolute;
    left:0;
    top:0;
    background:red;
}
.navbar-default .navbar-nav>li>a {
  
   color: #676262;
  /*  color: #fff;*/
    text-transform: uppercase;
    font-size:14px;
    font-family: Roboto-Bold;
    letter-spacing:.1em;
}

.btn-md, .btn-group-md > .btn {
    padding: 8px 20px;
    font-size: 1.2rem;
    border-radius: 0px;
    font-family: 'montserratregular';
}
.btn {
    margin-right: 15px;
    border-radius: 0px;
    font-family: 'montserratregular';
}
.btn-sm, .btn-group-sm>.btn {
    border-radius: 0px;
}
a.btn{
    text-transform: uppercase;
    margin-top: 10px;
    font-family: 'montserratregular';
}


.main_menu{
    color:#fff;
}

/*.menu-scroll {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 300;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color: #fff;
    height:80px;
    
}
.navbar-default {
    margin-top: 15px;
}

.menu-scroll .main_menu .navbar-nav > li > a {
    color:#666;
    font-family: 'montserratregular';
}
.menu-scroll .main_menu .navbar-nav > li > a:hover {
    color:#6FB048;
}
.menu-scroll a.our_logo{
    color:#666;
}
.menu-scroll .call_us{
    color:#666;
}

.menu-scroll .main_menu .navbar {
    margin-bottom:0px;
    border: 0px solid transparent;
}
.menu-scroll .main_menu .container-fluid {
    border-bottom: 0px solid transparent;
    padding-bottom:0px; 
}
*/
.bottom{
    text-transform: uppercase! important;
    font-size: 16px! important;
    font-family: 'montserratregular'! important;
    color:white ! important;
    margin-top: 290px;

    
}

.bottom span{
    padding-right:50px;
    padding-left:50px;
}



.container-fluid {
  
}
.navbar-default .navbar-brand {
    color: #fff;
}
.our_logo {
    color: #666;
}*/
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
   color: #fff;
    background-color: transparent;
}

.navbar-default {
    background-color: transparent; 
    border-color: transparent;
}
.call_us{
    margin-top: 20px;
    border-left: 1px solid #ddd;
    overflow: hidden;
    padding-left: 15px;
    line-height: 15px;
    font-size: 13px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a {
  /*  color: #fff; */
  color: #676262;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
   /*color: #fff;*/
    background-color: #f89f26;
}

.navbar-nav>li>a.current{
   color: #f89f26;
 /*  background-color:#f1d74c;*/
}

#bener{
    background: #e8e5e5;
    background-image: none;
/*background-image: -webkit-linear-gradient(297deg,#143859 0,#245470 90%);
background-image: linear-gradient(153deg,#143859 0,#245470 90%);*/
padding: 20px 0;
padding: 1.25rem 0;
-webkit-transition: padding .25s ease-out;
transition: padding .25s ease-out;
}

.bener_content{
    padding:70px 0;
   /* max-width:800px;*/
    color:#fff;
    margin-top:5%;
/*  margin-top:165px;*/
    margin-left:20px;
    text-align: center;
}   
@media (max-width:768px){
	.bener_content{
    padding:0px 0;
    color:#fff;
    margin-top:142px;
    margin-left:20px;
    text-align: center;
}  
}
.bener_overlay{
    
  /*height: 100vh;*/

}   
.bener_content h2{
    /*color:#ffff;*/
    color:#1d7ec1;
}   
.bener_content p{
   color: #107dc2;
    line-height: 4rem;
    font-weight: 600;
    font-size: 27px;
    text-align: center;
    font-stretch: expanded;
   
}
.bener_cont{
padding: 70px 0;
color:#333333;
margin-top: 50px
}

.bener_cont h2{
/*font-size:45px;*/
font-family:'Roboto-Bold'
}
.bener_cont p{
line-height:2rem;
    font-size: 1.5rem;
font-family:'Roboto-Regular';
text-align: center;
}



/* Best Features Section */

#our_features{
    padding: 0px 0px 100px 0px;
}   
.features_top{
    max-width:425px;
    padding:70px 0;
    margin:0 auto;
    color:#83a7a5;
}
.features_top h2{
    font-size:32px;
    color:#0f5f5c;

}
.features_top p{
    font-size:15px;
    color:#83a7a5;
}

.features_contant{}
.best_features_contant_top{}

.single_features img{
    max-width: 50px;
    height: 50px;
    margin-bottom: 20px;
}
.single_features i{
    font-size:30px;
    color:#6FB048;
}
.single_features h2{
    font-size:16px;
    color:#0f5f5c;
}
.single_features p{
    font-size:14px;
    color:#83a7a5;
}
.border_img{
    background:url(../img/border_md.png) no-repeat scroll center center;
    background-size:cover;
    width:90px;
    height:91px;
    margin: 0 auto;
}

.best_features_bottom{
    padding: 50px 0px 0px 0px;
}
.single_features_bottom{
    margin-bottom: 20px;
    max-width:460px;
}
.single_features_bottom h2{
    font-size:16px;
    color:#0f5f5c;
}
.single_features_bottom h2 i{
    color: #6FB048;
    padding-right: 20px;
    font-size: 30px;    
}

.single_features_bottom p{
    font-size: 14px;
    color:#83a7a5;
}

/* Looking section */
#lookingsec{
    background-color:#eaedf0;
    margin-top:80px;
}
.looking_top,.looking_topp,.look_top{
    padding: 50px 0px 20px 0px;
}
.looking_top h2,.looking_topp h2,.look_top h2{
    /*font-size:32px;
    color:#0f5f5c; */
      color: #1d7ec1;
}
.looking_top h3{
    font-size: 1rem;
    color:#83a7a5;
    font-family: Roboto-Regular;
    text-align:center;
     line-height: 1.5em;
     margin-top: 20px;
     padding-left: 40px;
     padding-right: 40px;
    
}
.look_top h3{
    font-size: 1rem;
    line-height:1.5rem;
    color:#333333;
    /*color: #0f5f5c;*/
    font-family: Roboto-Regular;
    margin-top: 10px;
    
    padding-left:20px;
    padding-right:20px;
}
.looking_top p,.look_top p{
  /* font-size: 18px;
   color: #83a7a5;*/
   color:#333333;
   font-family: Roboto-Regular;
   padding-left: 40px;
   padding-right: 40px;
   text-align: left;
   line-height: 1.5em;
}
.looking_topp p{
    font-size:1rem;
        color: #333333;
        /*color:#83a7a5;*/
    font-family: Roboto-Regular;
    padding-left: 100px;
padding-right: 100px;
line-height: 1.5rem;
text-align: justify;
}

.looking_to{
    padding: 50px 0px 20px 0px;
}
.looking_to h2{
    font-size:2rem;
    line-height: 4rem;
    /*font-size:32px;
    color:#0f5f5c; */
  color:#1d7ec1;
    text-align:center;

}
.looking_to h3{
    font-size:1rem;
    line-height: 1.5rem;
    color:#333333;

   /* font-size:15px;
    color:#0f5f5c;*/
    font-family: Roboto-Regular;
    margin-top:10px;    
}
.looking_to p{
 /*  font-size: 15px;
color: #0f5f5c;*/
   font-size:1rem;
    line-height: 1.5rem;
    color:#333333;
font-family: Roboto-Regular;
margin-top: 20px;
text-align: justify;
padding-left: 50px;
padding-right: 35px;
}
.looking_to h4{
    /*font-size:25px;*/
    font-size:1.5rem;
    line-height: 2rem;
    color:#333333;
    /*color:#0f5f5c;*/
    text-align:center;
    font-family:Roboto-Bold;
}

.single_looking{
    padding: 50px 0px 30px 0px;
    max-width:500px;
}
.single_looking h2{
   /* font-size:32px;*/
     color: #3f4242;
   /*color:#0f5f5c;*/
}
.single_looking p{
    /* font-size:18px;*/
    color: #333333;
    /*color:#83a7a5;*/
    font-family: Roboto-Regular;
}
.single_looking p i{
    font-size:16px;
    padding-right:10px;

}


.single_looking_img{
}

.single_looking_img img{
}

#our_about_area h2{

    margin-top:25px;
    font-size:2rem;
    line-height: 4rem;
    color:#1d7ec1;
    text-align:center;

}
.question{
   /* font-size: 20px;
    color: #0f5f5c;*/
    color : #333333;
    font-family:'Roboto-Bold';
    margin-top:25px;
}
.answer{
   /* font-size: 18px;
    color: #66c3cc;*/
     color : #333333;
    font-family:'Roboto-Regular';
    text-align: justify;
}
#our_about_step1 h2,#our_about_step2 h2,#our_about_step3 h2,#our_about_step4 h2{
/*font-size: 32px;
color: #0f5f5c;*/
    margin-top:25px;
    font-size: 2rem;
    line-height: 4rem;
    color: #1d7ec1;
}
#our_about_step1,#our_about_step2,#our_about_step3,#our_about_step4{
    margin-bottom:20px;
    padding-bottom: 30px;
}


/* Testmonial Section */

#testimonial img{
	max-width: 100%;
	
}
.single_testimonial{
    max-width: 540px;
    padding: 235px 0px;
}

.single_testimonial p{
    font-size:22px;
    padding-bottom:60px;
    color:#83a7a5;
    line-height:30px;
}

.test_author{
    color:#6fb048;
    font-size:14px;
    display: block;
}
.test_author2{
    color:#83a7a5;
}

.single_testimonial_img{
    margin-top: 50px;
}


/*Build Section */

#build{
    
}

.build_contant{
    max-width: 500px;
}

.build_contant h2{
    font-size:2rem;
   /* color:#0f5f5c;*/
   color:#1d7ec1;
}
.build_contant p{
    font-size:14px;
    color:#83a7a5;
}

/* Pricing Section */
#pricing{
    padding: 100px 0px 70px 0px;
}

.pricing_top{
    max-width:500px;
    margin:0 auto;
    padding-bottom:40px;
}
.pricing_top h2{
    color:#0f5f5c;
    font-size:32px;
    font-family: 'robotolight';
}
.pricing_top p{
    color:#83a7a5;
    font-size:14px;
    font-family: 'robotoregular';
}



.pricing_tabel_contant .col-md-4 {
    padding:0
}
.single_pricing{
    border: 1px solid rgba(221, 221, 221, 0.25);
    padding: 30px;
}
.top_text{}
.top_text span{
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    color: #6fb048;
    padding-bottom: 30px;
    font-family: 'robotomedium';
}
.top_text sub{
    display: block;
    font-size: 3.5rem;
    color: #0f5f5c;
    padding-bottom: 60px;   
    font-family: 'montserratregular';
}
.top_text sup{
    display:block;
    font-size:10px;
    color:#0f5f5c;
}
.single_pricing ul{
    padding-top:20px;
}
.single_pricing ul li{
    font-size: 14px;
    color: #0f5f5c;
    line-height: 30px;
    font-family: 'robotolight';
}



/* Plans Section CSS*/
#plans{
    padding-top: 50px;
}
.single_plans{
    padding:35px 0px;
}
.plans_top h2{
    color:#0f5f5c;
    font-size:32px;

}
.single_plans li{
    font-size:14px;
    color:#83a7a5;
    line-height: 30px;
}
.single_plans li i{
    padding-right:15px;
    font-size:16px;
}

/* Healp Section CSS */
#healp{
   /* padding: 50px 0px 100px 0px;
    background-color:#143859;*/
    
}
.footerlist{
    float:right!important;
    display:block;
}
.healp_contant{
    margin:0 auto;
    max-width:600px;
}
#healp i{
    font-size: 40px;
    color: #0f5f5c; 
}
#healp h2{
    color: #0f5f5c;
    padding-top: 15px;
}
#healp p{
    font-size:15px;
    font-family: Roboto-Thin;
}

.foot a{
    font-size:14px;
    color:#fff;
    font-family:Roboto-Regular;
    padding-right:30px;
    letter-spacing:.2em;
}
.soc{
    float:right!important;
    margin-right: -12px;
}
.foot2 {
    padding-top:90px;
    color:whitesmoke;
    font-size:12px;
}
.foot2 a{
    color: #d8d1d199;
    font-size: 12px;
    position: relative;
    bottom: -70px;
    margin-left:22px;
}

/* like Section */

#like{
    background:url(../img/like_bg.png) no-repeat scroll 0 0;
    background-size:cover;
}
.single_like{
    max-width:550px;
    padding:75px 0px;
}

.single_like h2{
    font-size:1.8rem;
    margin-bottom: 0;
    color:#0f5f5c;
}
.single_like p{
    font-size:15px;
    color:#83a7a5;
}
.single_like_btn{
    padding:80px 0px;
    text-align:center;
}

/* Footer Section  CSS */
#footer{
    padding: 100px 0px 20px 0px;
}
.single_footer{
    padding: 0px 0px 80px 0px;
}
.single_footer h2{
    font-size:32px;
    color:#0f5f5c;
    font-family: 'robotomedium';
}
.single_footer li a{
    font-size:13px;
    color:#83a7a5;
}

footer{
	 position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ddd;
    color: #107dc2;
    padding:1%;
    
}
@media (max-width:768px){
	footer{
	position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ddd;
    color: #107dc2;
    padding: 27%;
    padding-top: 9%;
}
}


form.email_sender input[type="text"]{
    position:relative;
}

button[type="submit"]{
    position: absolute;
    right: 21%;
    top: 56%;
    background: transparent;
    border: 0px none;
    padding: 20px;
    color: #6FB048;
    outline: none;
}

button:focus{
    border:transparent;
}

.navbar-form {
    padding: 0px;
    margin:0px;
}

.footer_bottom{
    border-top:1px solid #ddd;
    padding-top:20px;
}

.single_footer_bottom p i{
    padding:0px 10px;
    color:#ff0000;
}
.single_footer_bottom p a{
    padding:0px 10px;
    color:#6fb048;
}
.single_footer_bottom li{
    float: left;
    margin-left: 5px;
}
.single_footer_bottom li a{
    color: #fff;
    border-radius: 50%;
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
}
.single_footer_bottom li a i{ 
    padding:10px;
}
a.s_f_1{
    background:#55ACEE; 
}
a.s_f_2{
    background:#3B5998;
}
a.s_f_3{
    background:#3F729B;
}
a.s_f_4{
    background:#EC6197; 
}
a.s_f_5{
    background:#383838; 
}


a.s_f_1:hover,
a.s_f_2:hover,
a.s_f_3:hover,
a.s_f_4:hover,
a.s_f_5:hover{
    background:#6FB048;
    color:#fff;
}






/* Contact Us page */
#google_map{    
    padding-top: 76px;
    overflow: hidden;
    background-color: #83a7a5 !important;
}
.messsage_contant{
    margin-top:70px;
}



.single_message_left{
    max-width:515px;
    margin:0 auto;
    padding-bottom:100px;
}
.message_top_text{
    padding-top:70px;
}

.message_top_text h2{
    color:#0f5f5c;
    font-size:32px;
}
.message_top_text p.description_p{
    color:#83a7a5;
    font-size:15px;
    max-width:500px;
    margin:0 auto;
}

.single_message_right{
    max-width: 345px;
    padding: 30px;
    margin: 0 auto;
    margin-bottom:50px;
    background: white;
}

.single_message_right h4{
    color:#0f5f5c;
}
.single_message_right p{
   /* color:white; */
    color:#333333;
    font-size: 1rem;
}
.single_message_right p i{
     color:#333333;
    padding-right:10px;
    font-size: 124%;
}
.single_message_right p span{
    display: block;
    margin-left: 25px;
    font-size: 1rem;
}


a.get_stared_btn{
    background: #6FB048;
    color: #fff;
    border-radius: 2px;
    padding: 5px 10px;
    margin-top: 10px;
}

/* About Us Page CSS */
#about_banner{
    background:url(../img/story.jpg);
    background-size:cover;
}
.about_overlay{
    background:rgba(47, 94, 94, 0.65);
    width:100%;
}

.about_banner_text{
    padding:160px 0;
    max-width:820px;
    color:#fff;
    margin:0 auto;
}
.about_banner_text h1{
    margin-bottom:30px;
}

#our_about_area{
    padding-bottom:80px;
}
.about_top_text{
    padding:30px 0;
}

.about_top_text h2{
   /*color:#66c3cc;*/
   color:#333333;
}
.about_top_text p{
   
   /* font-size: 18px;
   color: #83a7a5;*/
   font-family: Roboto-Regular;
   padding-left: 40px;
   padding-right: 40px;
   text-align: left;
  /* line-height: 1.5em;*/
}
.about_top_text li{
   
    font-size: 1rem;
   color: #83a7a5;
   font-family: Roboto-Regular;
   
   text-align: left;
   line-height: 1.5em;
}


.single_about_text{
    padding-bottom:20px;
}
.single_about_text img{
    max-width: 50px;
    height: 50px;
    margin-bottom: 20px;
}
.single_about_text h4{
    padding-top:20px;
}

#our_tem_area{
    padding-bottom:24px;
}

.team_top_text{
    margin-bottom:-20px;
    padding: 50px 0px 20px 0px;
}
.team_top_text h2{
  /*  color: #143859;
    font-size: 3rem !important;*/
}

.team_top_text p{
    max-width: 722px;
    margin: 0 auto; 
    color:#0f5f5c;
}
.single_team_area{
    margin-bottom:20px;
}
.single_team_area h5{
    margin: 10px 0px 0px 0px;
    font-size:16px;
    color:#1d7ec1;
    font-family: 'robotomedium';
}
.single_team_area p{
    font-size:0.9rem;
    color:#333333;
    text-align:justify;
    line-height: 1.5rem;
}
.boxx{
     background-color: lightgrey;
    width: 350px;
    border: 3px solid #0f5f5c;
    margin-top:5px;
}
.lpi-style {
    font-family: 'DancingScript-Regular';
}

 .about_top_term{
    padding:80px 0;
}

.about_top_term h2{
   /*color:#66c3cc;*/
   color:#333333;
   text-align:center;
}
.about_top_term p{
   
    font-size: 1rem;
   /*color: #83a7a5;*/
    color:#333333;
   font-family: Roboto-Regular;
   padding-left: 40px;
   padding-right: 40px;
   text-align: justify;
   line-height: 1.5rem;
}


.table{
    margin-top: 50px;
    margin-left: 39px;
    max-width:93%;
    
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    padding-top: 14px;
   /* font-size: 18px;*/
   font-size: 1.5rem;
   line-height: 2rem;
    border: 2px solid #dee3e7;
    text-align: center;
   /* color: #83a7a5;*/
       color: #333333;
    font-weight: bold;

}


.green{
    text-align: center;
}
.red{
    text-align: center;
    color: red;
}
.tm {
    font-size: 7px!important;
    top: -1.5em!important
}
.font-size_12{
    font-size: 12px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 5px 15px;
    font-size: 18px;
    line-height: 20px;
    width: 40%;
}
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 3%;
    right: 3%;
    overflow: hidden;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url("../img/move-up.png") no-repeat 0px 0px;
}
#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

.looking_top h6{
    font-size: 11px;
    color:#83a7a5;
    font-family: Roboto-Regular;
    text-align:left;
    padding-left: 40px;
    
}
.star{
    color:#fff;
    font-size:9px;
    float:right;
    margin-right:10px;
}
.r-item {
    overflow: hidden;
    background: white;
    border-radius: 4px;
}
.mb30 {
    margin-bottom: 30px;
}
.img-cont-left {
    float: left;
}

.author_blog_image {
      height: 82px;
    width: 102px;
        margin: 2%;
}
.r-item .c-data {
    box-shadow: none;
}

.c-data {
    float: left;
    width: 64%;
    padding: 3px;
    padding-bottom: 0px;
    position: relative;
    border-radius: 0px 0px 4px 4px;
}

a img {
    border: none;
}

img {
    vertical-align: middle;
    border-style: none;
}
.c-data h4 {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #666;
    text-align: left;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.b-heading-top h4, .author-info a {
    font-size: 14px;
    color: #999;
    line-height: 17px;
}

#testimonial p {
	font-size: 12px;
}

.mrgtop{
	margin-top: 4%	
}
.looking_tob{
	padding: 50px 0px 20px 0px;
}
.looking_tob h5{
	font-size: 1rem;
	font-family: Roboto-Regular;
}
.icoimg{
	width:23%;
}

