				
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
         <title>Valucricles </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="assets/fonts/stylesheet.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">

        <link rel="stylesheet" href="assets/css/bootstrap.min.css">


        <!--For Plugins external css-->
        <link rel="stylesheet" href="assets/css/plugins.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="assets/css/responsive.css" />

        <script src="assets/js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        
    </head>
    <body>

		
		<!-- Contact form -->
		<section id="bener" class="">
            <div class="bener_over">
			<div class="container">
					
						<div class="col-md-12 col-sm-12">
						<div class="bener_cont white">
							<h2>Get In Touch With Us</h2>
							<p>We are here to help. Want to learn more about our services? Please get in touch, we'd love to hear from you!</p>
						</div>
					</div>
				
				<div class="row">
					<div class="messsage_contant">
						<div class="col-md-7 col-sm-7">
							<div class="single_message_left">
								<form href="#login" id="formid">
										 <div class="form-group">
											<input type="text" class="form-control" name="name" placeholder="First name" required="" ng-model="contact.firstName">
										  </div>
										
										  <div class="form-group">
											<input type="email" class="form-control" name="email" placeholder="Email" required="" ng-model="contact.email">
										  </div>
										
										  <div class="form-group">
											<input type="text" class="form-control" placeholder="Subject" ng-model="contact.subject">
										  </div> 

										  <div class="form-group">
											<textarea class="form-control" name="message" rows="8" placeholder="Message" ng-model="contact.message"></textarea>
										  </div>

										  <div class="center-content">
											<input type="submit" value="Submit" class="btn btn-primary" ng-click="sendMailToContact(contact)">
										  </div>										  
								</form>
							</div>
						</div>
						
						<div class="col-md-5 col-sm-5">
							<div class="single_message_right white">
								<p><i class="fa fa-phone"></i>+91-87 544 27197</p>
								<p><i class="fa fa-envelope"></i> contact@valucircles.com</p>
								<p></p>
							</div>
						</div>
					</div> 
				</div>
			</div>
			</div>
		</section>



        <script src="js/vendor/jquery-1.11.2.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

    </body>
</html>
