<div class="wrapper wrapper-content ng-scope">
	<div class="row">
		<div class="ibox" style="margin: 0;">
			<div class="row" style="color: #1d7ec1; line-height: 2.5;">
				<div class="col-md-2 col-sm-6 col-xs-6" style="color: #1d7ec1;" ng-init="linktext()">
					<div align="left" ng-click="back()" class="cursor">
						<i style="padding: 0 1%; font-size: 16px;" class="fa fa-angle-double-left"></i> LP<i>i</i>
					</div>
				</div>
				<div class="col-md-2 col-sm-6 col-xs-6" style="color: #1d7ec1;">
					<div align="right" ng-click="next()" class="cursor">&ensp;</div>
				</div>
			</div>
		</div>
		<div class="ibox">
			<div class="" style="background: white; border-bottom: 3px solid #ff9800d4;">
				<div class="ibox-title" style="border-bottom: 1px solid #e7e7e7;margin-bottom: 17px;">
					<div class="ibox-tools">
						<p style="display: inline; margin-left: 15%; color:;" ng-if="sucess">
							<i class="em em-thumbsup f-24"></i><strong></strong> {{message}}
							<i class="em em-blush f-24"></i>
						</p>
						<p style="display: inline; margin-left: 15%; color:;" ng-if="error">
							<i class="em em-bulb f-24"></i><strong></strong> {{message}} <i class="em em-bulb f-24"></i>
						</p>
						<h5 class="v-inline">Lender Options</h5>
					</div>
				</div>

				<span>
					<img src="assets/images/bulb.png" height="21" width="21" style="  margin-left: 9px;margin-top: -12px;">
				</span>

				<p class="mrgbot3" style="margin-top: -27px;">

					<span class="paraDisp" style="line-height: 1.8;">Best Fit Home Loan lender options for you are listed below. 
						We will be reviewing your profile and will reach out to you to initiate loan with the lender of your choice.
					</span>

				</p>

			</div>
			<div class="ibox-title1">
				<div class="col-md-6">
					<p style="display: inline; margin-left: 0%; color: white;" ng-if="dirty">
						<i class="em em-bulb f-24"></i>Highlighed Fields have been
						modified
					</p>
					<p style="display: inline; margin-left: 0%; color: white;" ng-if="success">
						<i class="em em-thumbsup f-24"></i> {{success_message}} <i class="em em-thumbsup f-24"></i>
					</p>
					<p style="display: inline; margin-left: 0%; color: white;" ng-if="error">
						<i class="em em-bulb f-24"></i> {{error_message}} <i class="em em-bulb f-24"></i>
					</p>
				</div>

				<div class="col-md-3"></div>
			</div>
			<div class="ibox-content">
				<div class="row">
					<form name="Personalform" novalidate>
						<div class="col-lg-2 col-md-2 col-xs-12"></div>
						<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 " style="overflow-x:auto;">
							<table class="table table-bordered table-hover">
								<tr>
									<th align="left" style="text-align:left;color:#333333;vertical-align: middle;">
										Select</th>
									<th ng-repeat="lender in lenders"><span class="th_not_bold"></span><br /> <input
											type="checkbox" name="lenderId" id="checlender{{lender.lenderId}}"
											style="margin-top: -16px;" ng-model="lender.selected"
											ng-value="{{lender.lenderId}}" class="verifybut" ng-disabled="checkbtn">
									</th>
								</tr>  
								<tbody>
									<tr>
										<td></td>
										<td ng-repeat="lender in lenders" align="center"
											style="vertical-align: middle;"><img
												src="assets/images/{{lender.lenderlogo}}.jpg"
												alt="{{lender.lenderName}}" style="width: 71px;"></td>
									</tr>
								<!--	<tr>
										<td style="font-weight: bold;">LPI</td>
										<td ng-style="set_color(lender)" ng-repeat="lender in lenders" class="center">
											<span class="back-color-{{lender.lenderId}}"
												style="padding: 3px; border-radius: 23%;">color</span></td>
									</tr>
									<tr>
										<td style="font-weight: bold;">Indicative Interest Rate</td>
										<td ng-repeat="lender in lenders" class="center">{{lender.rate}}</td>
									</tr> -->
									<tr>
										<td style="font-weight: bold;">Eligible Loan Amount</td>
										<td ng-repeat="lender in lenders" class="center">{{lender.eligilbleLoanAmount}}
										</td>
									</tr>
								<!--	<tr>
										<td style="font-weight: bold;">Indicative EMI</td>
										<td ng-repeat="lender in lenders" class="center">{{lender.eligibleEMI}}</td>
									</tr> -->
									<tr>
										<td style="font-weight: bold;">Eligible Term (in months)</td>
										<td ng-repeat="lender in lenders" class="center">{{lender.term}}</td>
									</tr>
								<!--	<tr ng-repeat="listlender in lenderProp">
										<td style="font-weight: bold;">{{listlender}}</td>
										<td ng-repeat="listProps in props" ng-if="listlender == listProps.propsName"
											class="center">{{listProps.propValue}}</td>
									</tr>  -->
								</tbody>
							</table>
						</div>
						<div class="col-lg-2 col-md-2 col-xs-12"></div>
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="row loanspace">
								<div class="col-md-4 col-sm-4 col-xs-4"></div>
								<div class="col-md-3 col-sm-3 col-xs-3 btn-top">
									<button type="button" data-target="#myModal" data-toggle="modal"
										class="apply btn btn-primary vcirclebtn">Initiate
										Request</button>
								</div>
								<div class="col-md-3"></div>
							</div>
						</div>

						<i class="fa fa-spinner fa-spin fa-5x white col-md-offset-5 m-t-b-2" aria-hidden="true"
							ng-if="loader"></i>
					</form>
				</div>
			</div>
			<div class="modal fade" id="myModal" role="dialog">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header" style="text-align: center;">
							<img src="assets/images/bulb.png"><br>
							<h5 class="modal-title">
								<i class="fa fa-info whitte"></i>Your Details will be forwarded
								to the lenders<br> <br> <i class="fa fa-info whitte"></i>No
								more modifications can be made to your profile
							</h5>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" ng-click="updatelpistatus()">Confirm</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<style type="text/css">
			html,
			body {
				height: 100%;
			}

			.top-img {
				top: 10px;
			}

			.back-clr {
				background: #80808012;
				border: 1px solid #8080803b;
			}

			.btn-top {
				top: 1em;
			}

			body {
				/*background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url(assets/images/common/form_image.jpg) !important;*/
				width: 100%;
				background-size: cover;
			}

			.form-control[disabled],
			.form-control[readonly],
			fieldset[disabled] .form-control {
				background: #eee;
				color: white;
			}

			button[disabled],
			html input[disabled] {
				cursor: not-allowed;
			}

			.cursor {
				cursor: pointer;
			}

			.mrgbot0 {
				margin-bottom: 0px;
				font-size: 13px;
				padding-left: 45px;
				padding-right: 39px;
				color: #5264AE;
				background-color: white;
			}

			.mrgbot1 {
				margin-bottom: 0px;
				font-size: 13px;
				padding-left: 45px;
				padding-right: 39px;
				color: #5264AE;
				background-color: white;
			}

			.mrgbot3 {
				padding-left: 45px;
				padding-right: 39px;
				color: #5264AE;
				font-size: 13px;
				background-color: white;
			}

			.center {
				text-align: center;
			}

			.bank-clr {
				color: #3F51B5;
			}

			.wordwrap {
				word-wrap: break-word;
			}

			tr,
			th {
				width: 0%;
				height: 0px;
			}

			th {
				text-align: center;
				vertical-align: middle;
				color: white;
			}

			/* .table{
width:70% !important;
} */
		</style>